* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #222121;
    color: #f5f4f4;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    color: #222121;
}

.containerP {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: auto;
    background: #9c9696;
    padding: 20px;
    border-radius: 8px;
}

nav {
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

nav a:hover {
    background-color: #222121;
    opacity: 0.8;
}