<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Page TADS | IFRN</title>
    <link rel="stylesheet" href="../src/landingpage.css">
</head>
<body>
    <header>
        <img src="" alt="">
        <nav>
            <a href="#Sobre">Sobre</a>
            <a href="#Grade">Grade Curricular</a>
            <a href="#Mercado"></a>
            <a href="#FAQ"></a>
            <a href="#Contato"></a>
        </nav>
    </header>
    <section id="Hero">
        <h1>Tecnologia em Análise e Desenvolvimento de Sistemas</h1>
        
    </section>
    <section id="Sobre">
        <p>O Curso Superior de Tecnologia em Análise e Desenvolvimento de Sistemas tem como objetivo a formação de profissionais capazes de compreender o processo de construção e reconstrução do conhecimento no domínio do desenvolvimento de softwares e, dessa forma, realizar atividades de concepção, especificação, projeto, implementação, avaliação, suporte e manutenção de sistemas computacionais, orientando sua ação na sociedade em geral e no mundo do trabalho em particular para a busca de soluções para o setor produtivo e para a melhoria da qualidade de vida das populações.</p>
        <p>A formação tecnológica proposta no modelo curricular deve propiciar ao estudante condições de assimilar, integrar e produzir conhecimentos científicos e tecnológicos na área específica de sua formação; analisar criticamente a dinâmica da sociedade brasileira e as diferentes formas de participação do cidadão-tecnólogo nesse contexto; e desenvolver as capacidades necessárias ao desempenho das atividades profissionais.</p>
    </section>
    <section id="Grade">
        
    </section>
    <section id="Mercado">
        <h1>Possibilidades de Atuação</h1>
        <div class="mercadoP">

        </div>
    </section>
    <section id="FAQ">
        <h1>Perguntas Frequentes</h1>
        <div class="faqP">
            <div class="card">
                <h3>Fulano – Ex aluno de TADS</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, quos illum perferendis et obcaecati dolores nulla vero optio eveniet cupiditate, exercitationem hic eligendi laborum praesentium ducimus fuga nobis quae deleniti!</p>
            </div>
            <div class="card">
                <h3>Fulano – Ex aluno de TADS</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod totam iusto impedit aliquid tempora est doloribus vel ipsa repudiandae harum molestiae porro deserunt, blanditiis a? Obcaecati nostrum ut quas consequuntur!</p>
            </div>
            <div class="card">
                <h3>Fulano – Ex aluno de TADS</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae sint aliquam quasi dolorum architecto est, iusto iure. Ipsum, repudiandae vero? Beatae eum sint maiores provident, ea consequuntur aut? Itaque, porro!</p>
            </div>
        </div>
    </section>
    <footer id="Contato">
        <div class="footerP">
            <div class="logos">
                <img src="" alt="">
                <img src="" alt="">
            </div>
            <div class="endereco">
                <p>Diretoria Acadêmica de Gestão e Tecnologia da Informação - IFRN - Campus Natal - Central</p>
                <p>Av. Sen. Salgado Filho, 1559 – Tirol, Natal – RN CEP: 59015-000l</p>
            </div>
            <div class="contato">
                <h3>Contato</h3>
                <p>E-mail: diatinf.cnat@ifrn.edu.br</p>
                <p>Telefone: (84) 4005-0890</p>
                <p>Instagram: @diatinf</p>
            </div>
        </div>
        <p class="copyr">© 2025 – Jennifer Domingos</p>
    </footer>
</body>
</html>