<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disciplinas de TADS</title>
    <link rel="stylesheet" href="../src/tabelas.css">
</head>
<body>
    <section class="containerP">
        <h1>Disciplinas do 1º Período | TADS</h1>
        <section class="table">
            <table border="1" cellspacing="0" cellpadding="8">
                <thead>
                    <tr>
                        <th>Disciplina</th>
                        <th>Tecnologias</th>
                        <th>Conceitos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Língua Inglesa</td>
                        <td>
                            <ul>
                                <li>Google Classroom</li>
                                <li>Kahoot</li>
                                <li>Dicionário</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Estudo da língua inglesa, através de leitura de textos, tradução, produção escrita, noção de termos técnicos, aquisição e
                                    ampliação de vocabulário.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Língua Portuguesa</td>
                        <td>
                            <ul>
                                <li>Google Docs</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Tópicos de gramática, leitura e produção de textos.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Matemática Discreta</td>
                        <td>
                            <ul>
                                <li>Google Classroom</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Técnicas de Demonstração</li>
                                <li>Conjuntos</li>
                                <li>Combinatória</li>
                                <li>Relações, relações de equivalência</li>
                                <li>Ordens parciais e totais. Funções</li>
                                <li>Indução Matemática</li>
                                <li>Noções de Estruturas Algébricas</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Programação de Computadores</td>
                        <td>
                            <ul>
                                <li>Python</li>
                                <li>Visual Studio Code</li>
                                <li>Google Classroom</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Conceitos básicos</li>
                                <li>Modelo de dados</li>
                                <li>Atribuição e expressões</li>. <li>Comandos básicos de entrada e saída</li>
                                <li>Estrutura de repetição</li> <li>Estrutura de dados homogêneos</li>Tratamento de erros</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Sistemas Digitais</td>
                        <td>
                            <ul>
                                <li>Google Classroom</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Álgebra booleana
                                <li>Codificação binária</li>
                                <li>Aritmética computacional</li> <li>Circuitos combinacionais</li>
                                <li>Lógica sequencial</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Web Design</td>
                        <td>
                            <ul>
                                <li>Visual Studio Code</li>
                                <li>GitHub</li>
                                <li>Vercel</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Produzir páginas web de forma consistente, de acordo com as exigências de padronização, seguindo a especificação Web
                                    Standard.</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>
</body>
</html>
